@import "tailwindcss";

:root {
  --background: #2f2f2f;
  --foreground: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  margin: 0;
  color: #f6f6f6;
  background-color: #2f2f2f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
